In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.listdir()

['MusicInstraments.csv',
 '.DS_Store',
 'Course_Recommendation_System.ipynb',
 'GraphicDesign.csv',
 'BusinessFinance.csv',
 '.ipynb_checkpoints',
 'WebDevelopment.csv']

In [7]:
#Read data
WebDev = pd.read_csv('WebDevelopment.csv')
Business = pd.read_csv('BusinessFinance.csv')
GraphicDesign = pd.read_csv('GraphicDesign.csv')
Music = pd.read_csv('MusicInstraments.csv')

In [8]:
#Add Subject column to the 4 datasets
WebDev['Subject']= 'Web Development'
Business['Subject']= 'Business'
GraphicDesign['Subject']= 'Graphic Design'
Music['Subject']= 'Music Instr'

In [9]:
#Combine all 4 datasets into a single one using concat()
data=pd.concat([WebDev,Business,GraphicDesign,Music],axis=0)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3683 entries, 0 to 680
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3683 non-null   int64
 1   title                 3683 non-null   object
 2   url                   3683 non-null   object
 3   isPaid                3683 non-null   object
 4   price                 3683 non-null   object
 5   numSubscribers        3683 non-null   int64
 6   numReviews            3683 non-null   int64
 7   numPublishedLectures  3683 non-null   int64
 8   instructionalLevel    3683 non-null   object
 9   contentInfo           3683 non-null   object
 10  publishedTime         3683 non-null   object
 11  Unnamed: 11           0 non-null      float64
 12  Unnamed: 12           0 non-null      float64
 13  Is Paid               8 non-null      object
 14  Total                 8 non-null      float64
 15  Percent               4 non-null      object
 16  Subject               3683 non-null   object
 17  Column1               5 non-null      object
dtypes: float64(3), int64(4), object(11)
memory usage: 546.7+ KB

## Removing Duplicates

In [14]:
#Finding number of duplicates
data.id.duplicated().sum()

6

In [15]:
#List of duplicates
pd.concat(g for _, g in data.groupby("id") if len(g) > 1)

,id,title,url,isPaid,price,numSubscribers,numReviews,numPublishedLectures,instructionalLevel,contentInfo,publishedTime,Unnamed: 11,Unnamed: 12,Is Paid,Total,Percent,Subject,Column1
0,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,NaN,NaN,Yes,1067.0,89%,Web Development,NaN
83,28295,Learn Web Designing & HTML5/CSS3 Essentials in...,https://www.udemy.com/build-beautiful-html5-we...,True,75,43285,525,24,All Levels,4 hours,2013-01-03T00:55:31Z,NaN,NaN,NaN,NaN,NaN,Web Development,NaN
39,185526,MicroStation - Células,https://www.udemy.com/microstation-celulas/,True,20,0,0,9,Beginner Level,37 mins,2014-04-15T21:48:55Z,NaN,NaN,NaN,NaN,NaN,Graphic Design,NaN
278,185526,MicroStation - Células,https://www.udemy.com/microstation-celulas/,True,20,0,0,9,Beginner Level,37 mins,2014-04-15T21:48:55Z,NaN,NaN,NaN,NaN,NaN,Graphic Design,NaN
455,837322,Essentials of money value: Get a financial Life !,https://www.udemy.com/essentials-of-money-value/,True,20,0,0,20,All Levels,37 mins,2016-05-16T18:28:30Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
789,837322,Essentials of money value: Get a financial Life !,https://www.udemy.com/essentials-of-money-value/,True,20,0,0,20,All Levels,37 mins,2016-05-16T18:28:30Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
780,1035638,Understanding Financial Statements,https://www.udemy.com/understanding-financial-...,True,25,0,0,10,All Levels,1 hour,2016-12-15T14:56:17Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
897,1035638,Understanding Financial Statements,https://www.udemy.com/understanding-financial-...,True,25,0,0,10,All Levels,1 hour,2016-12-15T14:56:17Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
465,1084454,CFA Level 2- Quantitative Methods,https://www.udemy.com/cfa-level-2-quantitative...,True,40,0,0,35,All Levels,5.5 hours,2017-07-02T14:29:35Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
1104,1084454,CFA Level 2- Quantitative Methods,https://www.udemy.com/cfa-level-2-quantitative...,True,40,0,0,35,All Levels,5.5 hours,2017-07-02T14:29:35Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
456,1157298,Introduction to Forex Trading Business For Beg...,https://www.udemy.com/introduction-to-forex-tr...,True,20,0,0,27,Beginner Level,1.5 hours,2017-04-23T16:19:01Z,NaN,NaN,NaN,NaN,NaN,Business,NaN
790,1157298,Introduction to Forex Trading Business For Beg...,https://www.udemy.com/introduction-to-forex-tr...,True,20,0,0,27,Beginner Level,1.5 hours,2017-04-23T16:19:01Z,NaN,NaN,NaN,NaN,NaN,Business,NaN

In [19]:
#Removing duplicates
data=data.drop_duplicates(subset=['id'], keep='first')

In [20]:
len(data)

3677

## DROPPING UNNECESSARY COLUMNS

In [21]:
data=data.drop(columns=['Unnamed: 11', 'Unnamed: 12','Is Paid','Total','Percent','Column1'])

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3677 entries, 0 to 680
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3677 non-null   int64
 1   title                 3677 non-null   object
 2   url                   3677 non-null   object
 3   isPaid                3677 non-null   object
 4   price                 3677 non-null   object
 5   numSubscribers        3677 non-null   int64
 6   numReviews            3677 non-null   int64
 7   numPublishedLectures  3677 non-null   int64
 8   instructionalLevel    3677 non-null   object
 9   contentInfo           3677 non-null   object
 10  publishedTime         3677 non-null   object
 11  Subject               3677 non-null   object
dtypes: int64(4), object(8)
memory usage: 373.4+ KB